@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-bounce-short {
        animation: bounce-short 1s infinite;
    }

    .animate-float {
        animation: float 6s ease-in-out infinite;
    }
}

@keyframes bounce-short {

    0%,
    100% {
        transform: translateY(-15%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}